/*      CSS Demo Stylesheet     */

/*-------- Utility Classes --------*/

.container{
    width: 80vw;
    max-width: 1200px;
    margin: 20px auto;
}


/*-------- Responsive Images --------*/

img{
    max-width: 100%;
    height: auto;

}



/*-------- Global Styles --------*/

body{
    font-family: "Montserrat", sans-serif;
    background-color: #222222;
    color: #FFFFFF;
    margin: 0;
}

header.primary{
    background-color: #111111;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 40px 20px 40px;
    text-shadow: 2px 2px 4px #000000;
}

header.primary h1{
    font-size: 2.4rem;
    margin: 0;
    color: #FFFFFF;
}
header.primary h1 a{
    color: #FFFFFF;
    text-decoration: none;
}
header.primary  h2{
    color: #FFFFFF;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    margin-top: 7px;
}
header.primary nav ul{
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:30px;
    list-style-type: none;
}
header.primary nav ul li{
        list-style-type: none;

}
header.primary nav ul li a{
    color: #FFFFFF;
    background-color: #333333;
    padding: 5px 7.5px 5px 7.5px;
    border-radius: 20px;
    text-decoration: none;
    background-color:rgba(51, 51, 51, 0.7);
    transition: .2s;

}

header.primary nav a:hover{
    background-color:rgba(73, 73, 73, 1);
}














/* Media Queries */


@media screen and (max-width: 555px) {
    header.primary nav ul{
        flex-direction: column;
        gap:20px;
    }
    header.primary nav ul a{
        display:block;
    }

    .container{
        width: 90vw;
        margin: 20px auto;
}
}