/*      CSS Demo Stylesheet     */

/*-------- Utility Classes --------*/

.container{
    width: 80vw;
    max-width: 960px;
    margin: 20px auto;
}


/*-------- Responsive Images --------*/

img{
    max-width: 100%;

}



/*-------- Global Styles --------*/

body{
    font-family: "Montserrat", sans-serif;
    background-color: #222222;
    color: #FFFFFF;
    margin: 0;
}

header.primary{
    background-color: #111111;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 40px 20px 40px;
    text-shadow: 2px 2px 4px #000000;
}

header.primary h1{
    font-size: 2.4rem;
    margin: 0;
    color: #FFFFFF;
}
header.primary h1 a{
    color: #FFFFFF;
    text-decoration: none;
}
header.primary  h2{
    color: #FFFFFF;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    margin-top: 7px;
}
header.primary nav ul{
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:30px;
    list-style-type: none;
}
header.primary nav ul li{
        list-style-type: none;

}
header.primary nav ul li a{
    color: #FFFFFF;
    background-color: #333333;
    padding: 5px 7.5px 5px 7.5px;
    border-radius: 20px;
    text-decoration: none;
    background-color:rgba(51, 51, 51, 0.7);
    transition: .2s;
}

header.primary nav a:hover{
    background-color:rgba(73, 73, 73, 1);
}

#intro h2{
    color: #FFFFFF;
    border-bottom: 1px dotted #FFFFFF;
    padding-bottom: 5px;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

#content .post{
    box-shadow: 0 4px 8px rgba(0,0,0,6);
    font-size:0.8rem;
    padding:10px;
}

#content .post figure{
    margin:0;
    padding:10px;
}

#content time.post-date{
    text-transform:uppercase;
    font-size:0.6rem;
}


#content a{
    color: #FFFFFF;
}

#content a:hover{
    text-decoration: none;
}

aside[role="complementary"]{
    background-color: #111111;
    color: #FFFFFF;
    padding: 40px 0;

}


aside .container{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:40px;
}

aside .container a{
    color: #FFFFFF;
}

aside .container a:hover{
    text-decoration: none;
}

aside .container a:last-child{
    display: block;
    text-align: right;
    margin-top: 20px;
}

aside .widget footer{
    display: none;
}

#colophon{
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    font-weight:bold;
}














/* Media Queries */


@media screen and (max-width: 555px) {
    header.primary nav ul{
        flex-direction: column;
        gap:20px;
    }
    header.primary nav ul a{
        display:block;
    }

    .container{
        width: 90vw;
        margin: 20px auto;
}
}