/* Color Theme  
#B54648 (red)
#CB6743 (orange)
#9A4858 (pink)
#311913 (brown / dark red)
*/

/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---- Responsive Images ----*/
img {
  max-width: 100%;
  height: auto;
}

/* ----- Utility Styles ---- */

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}


/* ----- Global Styles ---- */

body {
  font-family: "Times New Roman", sans-serif;
  margin: 0;
  background-color: #311913;
}

/* ------------- Header --------------- */

header.primary {
  background-color: #181c1f;
  text-align: center;
  color: #ffffff;
  position: relative;
  min-height: 600px;
}

header.primary::before {
  content: "";
  background-image: url(../img/space.webp);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: auto;
  padding-top:1em;
  padding-bottom:4em;

}

header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 22%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(106, 46, 53, 0.5);
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.3s;
  display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(106, 46, 53, 1);
}

/* ----- Hero Image Area ----- */

.hero-image-area {
    min-height: 350px; 
    position: relative; 
    text-decoration: none;
}

.nasa-logo-image {
    width: 350px;
    height: auto; 
    display: block;
    margin: 0 auto;
}

.tagline {
    color: white; 
    margin-top: 10px; 
    text-shadow: none;
}

.logo-text-overlay {
    position: absolute; 
    top: 30%; 
    right: 50%;
    text-align: center;
    font-size: 1.25em;
}


/* ------------- Content --------------- */

section#content {
  padding: 4em 0;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

section#content h2{
  font-family: "Times New Roman", cursive;
  color: #D86541;
  text-shadow: 2px 2px #000000;
}

/* ------------- FAQ Section --------------- */ 


section#faq h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  padding-top: 30px;
  color: white;
  text-shadow: 2px 2px #000000;
}

.faq-item {
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 5vw;

}

.faq-question {
  background-color: #f9f9f9;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

.faq-question::after {
  float: right;
  transition: transform 0.3s ease;
}

details[open] .faq-question::after {
  content: '-';
  transform: rotate(0deg);
}

.faq-answer {
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #eee;
}

.faq-question:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
}


/*------ Footer ------*/

footer#colophon {
  background-color: #311913;
  text-align: center;
}

#colophon h6 {
  padding: 20px;
  margin: 0;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#colophon h6 a:link,
#colophon h6 a:visited, #colophon p {
  color: white;
  max-width:900px;
  text-align:center;
}


/* ---------------Media Queries----------------- */

@media (max-width: 1300px) {
    .logo-text-overlay {
        top: 30%; 
        right: 0;
        left: 0; 
        width: 100%;
        padding: 0 10px;
    }

    .nasa-logo-image {
        width: 300px;
    }
    
    .tagline {
        font-size: 1.1em;
        margin-top: 5px;
    }
}

@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
  }

  header.primary nav ul li {
    margin-bottom: 10px;
    width: 400px;
  }

  header.primary nav ul li a {
    display: block;
  }

  
}