/* Color Theme  
#B54648 (red)
#CB6743 (orange)
#9A4858 (pink)
#311913 (brown / dark red)
*/

/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---- Responsive Images ----*/
img {
  max-width: 100%;
  height: auto;
}

/* ----- Utility Styles ---- */

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}


/* ----- Global Styles ---- */

body {
  font-family: "Times New Roman", sans-serif;
  margin: 0;
  background-color: #311913;
}

/* ------------- Header --------------- */

header.primary {
  background-color: #181c1f;
  text-align: center;
  color: #ffffff;
  position: relative;
  min-height: 600px;
}

header.primary::before {
  content: "";
  background-image: url(../img/PIA24348~medium.webp);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: auto;
  padding-top:1em;
  padding-bottom:4em;

}

header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 22%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(106, 46, 53, 0.5);
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.3s;
  display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(106, 46, 53, 1);
}

/* ----- Hero Image Area ----- */

.hero-image-area {
    min-height: 350px; 
    position: relative; 
    text-decoration: none;
}

.nasa-logo-image {
    width: 350px;
    height: auto; 
    display: block;
    margin: 0 auto;
}
.tagline {
    color: white; 
    margin-top: 10px; 
    text-shadow: none;

}
.logo-text-overlay {
    position: absolute; 
    top: 30%; 
    right: 0;
    left: 0; 
    width: 100%;
    padding: 0 10px;
    font-size: 1.25em;
}

/* ------------- Content --------------- */

section#content {
  padding: 4em 0;
  color: #ffffff;
  font-size: 1.2em;
  text-align: center;
}

section#content h2{
  font-family: "Times New Roman", cursive;
  color: #D86541;
  text-shadow: 2px 2px #000000;
}


/* ------------- Cards --------------- */
.card{
    display: grid;
    grid-template-columns: 180px 1fr;
    padding:2rem;
    color: black;
    background-color: white;
    margin: 15px 0px;
    border-radius: 10px;
}

.card img{
    width:150px;
    height:150px;
}
.card-content{
    padding-left: 1rem;
    text-align: left;
}

/*------ Footer ------*/

footer#colophon {
  background-color: #311913;
  text-align: center;
}

#colophon h6 {
  padding: 20px;
  margin: 0;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#colophon h6 a:link,
#colophon h6 a:visited, #colophon p {
  color: white;
  max-width:900px;
  text-align:center;
}


/* ---------------Media Queries----------------- */


@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
  }

  header.primary nav ul li {
    margin-bottom: 10px;
    width: 400px;
  }

  header.primary nav ul li a {
    display: block;
  }

}