/* Color Theme  
#B54648 (red)
#CB6743 (orange)
#9A4858 (pink)
#311913 (brown / dark red)
*/

/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---- Responsive Images ----*/
img {
  max-width: 100%;
  height: auto;
}

/* ----- Utility Styles ---- */

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}

.img-right {
  float: right;
  margin: 10px 0 10px 20px;
  border: 1px solid #c0c0c0;
  padding: 5px;
  max-width:33%;
}

.img-left {
  float: left;
  margin: 10px 20px 10px 0;
  border: 1px solid #c0c0c0;
  padding: 5px;
}

.img-center {
  display: block;
  margin: 20px auto;
  border: 1px solid #c0c0c0;
  padding: 5px;
}


/* ----- Global Styles ---- */

body {
  font-family: "Times New Roman", sans-serif;
  margin: 0;
  background-color: #311913;
}


/* ------------- Header --------------- */

header.primary {
  background-color: #181c1f;
  text-align: center;
  color: #ffffff;
  position: relative;
  min-height: 800px;
}

header.primary::before {
  content: "";
  background-image: url(../img/mars-rover.webp);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: auto;
  padding-top:1em;
  padding-bottom:4em;

}

header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 22%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(106, 46, 53, 0.5);
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.3s;
  display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(106, 46, 53, 1);
}

/* ----- Hero Image Area ----- */

.hero-image-area {
    min-height: 350px; 
    position: relative; 
    text-decoration: none;
}

.nasa-logo-image {
    width: 350px;
    height: auto; 
    display: block;
    margin: 0 auto;
}
.tagline {
    color: white; 
    font-size: 1.25em;
    margin-top: 10px; 
    text-shadow: none;

}
.logo-text-overlay {
    position: absolute; 
    top: 45%; 
    right: 20%;
    text-align: center;
}

/* ------------- Content --------------- */

section#content {
  padding: 4em 0;
  color: #ffffff;
  font-size: 1.2em;
  text-align: center;
}

section#content h2{
  font-family: "Times New Roman", cursive;
  color: #D86541;
  text-shadow: 2px 2px #000000;
}


/* ------------- Articles --------------- */

section#articles {
  background: #C14347;
}

#background {
  color: white;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px auto;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px #311913;
}

section#articles .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 4em;
}

section#articles h2,
#content h2 {
  text-align: center;
  font-size: 2.5em;
  padding-top: 30px;
}

section#articles h2 {
  color: white;
  text-shadow: 2px 2px 2px #311913;
  text-align: center;
}

#articles article.post {
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: white;
}

#articles article.post h2 {
  font-size: 1.5em;
  text-shadow: none;
}

#articles article.post:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.4);
}

#articles .post a:link,
#articles .post a:visited {
  color: #C14347;
  text-decoration:none;
  text-shadow:1px 1px 1px #000;
}

#articles .post figure {
  margin: 0;
}

#articles .post img {
  border-radius: 10px;
}

#articles ul {
  padding: 0 25px;
}
#articles li {
  margin-bottom: 10px;
}


/*------ Footer ------*/

footer#colophon {
  background-color: #311913;
  text-align: center;
}

#colophon h6 {
  padding: 20px;
  margin: 0;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#colophon h6 a:link,
#colophon h6 a:visited, #colophon p {
  color: white;
  max-width:900px;
  text-align:center;
}


/* ---------------Media Queries----------------- */

@media (max-width: 1300px) {
    .logo-text-overlay {
        top: 20%; 
        right: 0;
        left: 0; 
        width: 100%;
        padding: 0 10px;
    }

    .nasa-logo-image {
        width: 300px;
    }
    
    .tagline {
        font-size: 1.2em;
        margin-top: 5px;
    }
}

@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
  }

  header.primary nav ul li {
    margin-bottom: 10px;
    width: 400px;
  }

  header.primary nav ul li a {
    display: block;
  }

}
@media screen and (max-width: 800px) {
  section#articles .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #c0c0c0;
    padding: 0 0 4em 0;
  }

  #articles article.post {
    width: 100%;
    margin-bottom: 2em;
  }
  
}