/* Color Theme  
#A44652 (red)
#714968 (purple)
#D86541 (orange)
#5A527D (blue)
#9A4858 (pink)
*/

/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---- Responsive Images ----*/
img {
  max-width: 100%;
  height: auto;
}

/* ----- Utility Styles ---- */

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}

.img-right {
  float: right;
  margin: 10px 0 10px 20px;
  border: 1px solid #c0c0c0;
  padding: 5px;
  max-width:33%;
}

.img-left {
  float: left;
  margin: 10px 20px 10px 0;
  border: 1px solid #c0c0c0;
  padding: 5px;
}

.img-center {
  display: block;
  margin: 20px auto;
  border: 1px solid #c0c0c0;
  padding: 5px;
}


/* ----- Global Styles ---- */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

header.primary {
  background-color: #181c1f;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  position: relative;
}

header.primary::before {
  content: "";
  background-image: url(../img/mars-rover.webp);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.hero-image-area {
    min-height: 350px; 
    position: relative; 
    text-decoration: none;
}

.nasa-logo-image {
    width: 350px;
    height: auto; 
    display: block;
    margin: 0 auto;
}
.tagline {
    color: white; 
    font-size: 1.25em;
    margin-top: 10px; 
    text-shadow: none;

}
.logo-text-overlay {
    position: absolute; 
    top: 15%; 
    right: 20%;
    text-align: center;
}


header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: auto;
  padding-top:1em;
  padding-bottom:4em;

}

header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 22%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(106, 46, 53, 0.5);
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.3s;
  display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(106, 46, 53, 1);
}

/* ------------- Content --------------- */

section#content {
  padding: 4em 0;
}

section#content h2{
  font-family: "Times New Roman", cursive;
  color: #9A4858;
}



section#content table{
  width:100%;
  border: 1px solid #c0c0c0;
  border-collapse:collapse;
}

section#content caption{
  font-weight:bold;
  font-size:1.5rem;
  margin:10px;
  font-family: "Times New Roman", cursive;
  font-size: 2em;
  color: #33536b;
}

section#content th {
  background:#181C1F;
  color:#ffffff;
  text-align:left;
  padding:10px;
}

section#content td{
  border:1px solid #c0c0c0;
  padding:5px;
}

section#content tr:nth-child(even){
  background:#DCDCDC;
}

section#content tr:hover{
  background:#8EA6B8;
}

/* ------------- Articles --------------- */

section#articles {
  background: #181c1f;
}

section#articles .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #c0c0c0;
  padding: 0 0 4em 0;
}

section#articles h2,
#content h2 {
  flex: 0 0 100%;
  color: #33536b;
  text-align: center;
  font-family: "Goldman", cursive;
  font-size: 2em;
}

section#articles h2 {
  color: #fff;
  text-shadow: 2px 2px #000;
}

#articles article.post {
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  transition: 0.6s;
  font-size: 0.8rem;
  border-radius: 10px;
  background: #fff;
}

#articles article.post h2 {
  font-size: 1.5em;
  text-shadow: none;
}

#articles article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#articles article time,
#articles article figcaption,
#articles article footer {
  font-size: 0.8em;
  color: #c0c0c0;
  text-transform: uppercase;
}

#articles .post a:link,
#articles .post a:visited {
  color: #F28D52;
  text-decoration:none;
  text-shadow:1px 1px #000;
}

#articles .post figure {
  margin: 0;
}

#articles .post img {
  border-radius: 10px;
}

#articles ul {
  padding: 0 20px;
}
#articles li {
  margin-bottom: 20px;
}

/* ------------- Hero --------------- */

#hero {
  padding: 4em 0;
}

/* ------------- Aside --------------- */

/* Attribute Selector */
aside[role="complementary"] {
  background-color: #181c1f;
  color: #ffffff;
  padding: 2.5em;
}

aside .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap:40px;
}

aside article.widget {
    flex:1;
}

.widget.overview table {
  font-size: 0.7em;
  border-collapse: collapse;
  width:100%;
}

.widget.overview table td {
  border-bottom: 1px solid #fff;
  padding: 10px;
}

.widget.overview table td:nth-child(even) {
  text-align: right;
}

aside article a:link,
aside article a:visited {
  color: #ffffff;
  display: block;
  margin-top: 1.2em;
  letter-spacing: 1.2px;
}

aside article a:hover,
aside article a:active {
  text-decoration: none;
}

aside article footer {
  display: none;
}

/*------ Footer ------*/

footer#colophon {
  background-color: #593122;
}

#colophon h6 {
  padding: 20px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#colophon h6 a:link,
#colophon h6 a:visited, #colophon p {
  color: #fff;
  max-width:900px;
  text-align:center;
}


/* ---------------Media Queries----------------- */

@media (max-width: 1300px) {
    .logo-text-overlay {
        top: 20%; 
        right: 0;
        left: 0; 
        width: 100%;
        padding: 0 10px;
    }

    .nasa-logo-image {
        width: 200px;
    }
    
    .tagline {
        font-size: 1em;
        margin-top: 5px;
    }
}

@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
  }

  header.primary nav ul li {
    margin-bottom: 10px;
    width: 400px;
  }

  header.primary nav ul li a {
    display: block;
  }

  section#articles .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #c0c0c0;
    padding: 0 0 4em 0;
  }

  #articles article.post {
    width: 100%;
    margin-bottom: 2em;
  }
  
  aside .container {
  flex-direction: column;
}
  
}